.text-one {
    font-family: "Open Sans", sans-serif;
    font-weight: 300px;
    font-style: italic;
    font-size: 20px;
    line-height: 30px;

}

.text-two {
    font-family: "Oswald", serif;
    text-decoration: line-through;

}

.text-tree {
    font-family: "Arimo", sans-serif;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
}

.text-4 {
    color: rgb(87, 22, 148);
    font-family: "Arimo", sans-serif;
    font-weight: 400px;
    font-style: italic;
    text-transform: uppercase;
    text-align: left;
    text-decoration: underline wavy rgb(117, 7, 182);
    word-spacing: 30px;
    
}
.text-5 {
    font-family: "Arimo", sans-serif;
    letter-spacing: 5px;
    text-decoration: underline double;
    

}